.badge {
    position: absolute;
    top: 17px;
    right: 171px;
    padding: 2px 5px;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 12px;
}

.social-facebook,
.social-instagram,
.social-twitter {
    background-color: var(--color-main);
    height: 64px;
    width: 64px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

<ul class="notificationsList" id="notificationList"><li class="new-message"><a href="#">Testing message</a><p class="close-message">x</p></li><li class="new-message"><a href="#">Testing a second notification</a><p class="close-message">x</p></li></ul>





const newMessage = document.getElementById("notificationList");
newMessage.addEventListener('click', e => {
    const message = e.target;
    if (message.classList.contains("close-message")) {
        message.parentNode.style.display = "none";
    }

});